* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Open Sans’, sans-serif;
}

.wrapper .sidebar {
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
    color: #ffffff;
    margin: 10px 0 5px;
}

.i1 {
    padding-left: 220px;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #0c7db1;
    background: white;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}


#logout-btn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;

}

.attendance {
    margin-top: 20px;
    text-transform: capitalize;
}

.attendance-list {
    width: 100%;
    padding-left: 280px;
    padding-right: 50px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

table thead tr {
    color: #fff;
    background: rgb(68, 136, 199, 255);
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(odd) {
    background: #f3f3f3;
}

.table button {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(7, 105, 185);
}

.table button:hover {
    background: rgb(7, 105, 185);
    transition: 0.5rem;
    color: white;
}

.view :hover{
    
    color: white;
    text-decoration: none;
}

body {
    background-color: #F5F5F5;
}

#empname {
    color: #163552;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 50px auto;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tableR1{
    text-align: center;
}
th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4488c7;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr :hover {
    background-color: #ddd;
}

.Present {
    color: #4CAF50;
    font-weight: bold;
}

.Absent {
    color: #F44336;
    font-weight: bold;
}

.area {
    padding-left: 280px;
    padding-right: 280px;
    margin: 30px;
}


button {

    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(7, 105, 185);
}

button:hover {
    background: rgb(7, 105, 185);
    color: #fff;
    transition: 0.5rem;
}