{% extends 'base.html' %} {% block body %}
<section class="attendance">
  <div class="attendance-list">
    <h1>Employee</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>First Login</th>
          <th>Last Logout</th>
          <th>Hours Active</th>
          <!-- <th>Mins Inactive</th> -->
          <th>Attendance</th>
        </tr>
      </thead>
      <tbody>
        {% for att in attendance%}
        <tr>
          <td>{{att.date}}</td>
          <td>{{att.firstLogin}}</td>
          <td>{{att.lastLogout}}</td>
          <td>{{att.hours}}</td>
          <!-- <td>{{emp.minsInactive}}</td> -->
          <td>{{att.attendance}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock body %}
